List, Tuple, Set ve Dictionary :


*   List, elemanları sıralanabilir, güncellenebilir ayrıca her bir eleman liste içerisinde birden fazla tekrarlanabilir.
*   Tuple, elemanları sıralanabilir ancak güncellenemez ve her bir eleman liste içerisinde birden fazla tekrarlanabilir.

*   Set, elemanları sıralanamaz ve indekslenemez ayrıca her bir eleman liste içerisinde sadece bir tane olabilir.
*   Dictionary, key ve value şeklinde değer alırlar. Aynı key bilgisiyle birden fazla eleman olamaz.

• Liste (List) tanımlama işlemi

degiskenAdi= [deger1, deger2,...]

Alınan notların not ortalamasına göre listedeki kişilerin geçtiğini veya kaldığını gösteren program

In [4]:
isimler=['Merve','Beyza','Mirza']
vizeler=[95,85,75]
finaller=[45,36,13]
for i in range(0,len(isimler)):
  hesap=(vizeler[i]*0.6)+(finaller[i]*0.4)
  if hesap/2>85:
    print('Geçti',isimler[i])
  else:
    print('kaldi',isimler[i])

kaldi Merve
kaldi Beyza
kaldi Mirza

Liste sonuna Ekleme

list1=[‘deger1’, ‘deger2’, ‘deger3’ ]

list1.append(‘deger4’)

In [5]:
isimler.append('Kazım') #sonuna ekler
print(isimler)

['Merve', 'Beyza', 'Mirza', 'Kazım']

Liste Güncelleme

list1=[‘deger1’, ‘deger2’, ‘deger3’ ]

list1[0]=‘deger0’

Liste farklı index alanlarına Ekleme

list1=[‘deger1’, ‘deger2’, ‘deger3’ ]

list1.insert(0, ‘deger4’)

In [6]:
isimler.insert(0,'Cemre') #belirli indekse ekler
print(isimler)

['Cemre', 'Merve', 'Beyza', 'Mirza', 'Kazım']

Belirli indexten silme

list1=[‘deger1’, ‘deger2’, ‘deger3’ ]

del(list1[0])

In [7]:
del(isimler[1]) #listenin belirli indeksteki değerini siler
print(isimler)

['Cemre', 'Beyza', 'Mirza', 'Kazım']

In [8]:
list1=[1,3,5,2,9,0]
list1.sort()
print(list1) #listenin aslını değiştirerek sıralama yapar

print(sorted(finaller)) #listenin aslını değiştirmeden sıralama yapar

[0, 1, 2, 3, 5, 9]
[13, 36, 45]

In [9]:
vizeNotlari=[12,56,89,45,30] #büyükten küçüğe doğru sıralama yapar
vizeNotlari.sort(reverse=True)
print(vizeNotlari)

[89, 56, 45, 30, 12]

In [10]:
len(vizeNotlari)

5

In [11]:
numbers=list(range(2,11)) #int(),str(),float() gibi list() listeye çevirme işlemini yapar
print(numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
print(min(numbers)) 
print(max(numbers))
print(sum(numbers))

2
10
54

In [13]:
print(numbers[1:3])
print(numbers[:3])
print(numbers[1:])
print(numbers[:-1]) #baştan başla son elemana kadar yazdır

[3, 4]
[2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
print(sum(numbers[:3]))
print(sum(numbers[-2:])-min(numbers[:3]))
print(numbers.index(max(numbers)))

9
17
8

In [15]:
numbers+=[54,87]
print(numbers)

n2=[1,2,'ads']
numbers+=n2
print(numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 54, 87]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 54, 87, 1, 2, 'ads']

In [16]:
n1=[5,9,12]
for i in n1:
  print(i)

5
9
12

Değer bilgisi ile silme

list1=[‘deger1’, ‘deger2’, ‘deger3’ ]

list1.remove(‘deger2’)

In [17]:
while 'Kazım' in isimler:
  isimler.remove('Kazım')
print(isimler)

['Cemre', 'Beyza', 'Mirza']

In [ ]:
number=list(range(1,11))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
notBilgileri=[['Merve',45,95],['Elif',56,78],['Cemre',45,89]]
print(notBilgileri)

[['Merve', 45, 95], ['Elif', 56, 78], ['Cemre', 45, 89]]

In [ ]:
liste1=list(range(0,20,2))
liste1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
sayilar=[]
for i in range(1,30):
  if i%2==0 and i%3==0:
    sayilar.append(i)
print(sayilar)

[6, 12, 18, 24]

In [ ]:
liste2=[i for i in range(2,20)]
print(liste2)

liste3=[i for i in range(2,20,2)]
print(liste3)

liste4=list(range(2,20,2))
print(liste4)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
liste5=[a for a in range(1,101) if a%9==0 and a%2!=0]
print(liste5)

[9, 27, 45, 63, 81, 99]

In [ ]:
liste6=[a**2 for a in range(1,100) if a%3==0 and a%4==0]
print(liste6)

[144, 576, 1296, 2304, 3600, 5184, 7056, 9216]

In [ ]:
metin="merhaba"
liste7=[i for i in metin]
print(liste7)

liste8=list(metin)
print(liste8)

liste9=[]
for i in range(0,len(metin)):
  liste9.append(metin[i])
print(liste9)

['m', 'e', 'r', 'h', 'a', 'b', 'a']
['m', 'e', 'r', 'h', 'a', 'b', 'a']
['m', 'e', 'r', 'h', 'a', 'b', 'a']

In [ ]:
yeniListe=[]
harfler="kfdsflk< kadnssa415s4dg16ds 6<fsaf541635"
sayilarr=[0,1,2,3,4,5,6,7,8,9]
for karakter in harfler:
  for i in sayilarr:
    if karakter==str(i):
      yeniListe.append(karakter)
print(yeniListe)

['4', '1', '5', '4', '1', '6', '6', '5', '4', '1', '6', '3', '5']

In [ ]:
liste10=[int(i) for i in harfler if i.isnumeric()]
print(sum(liste10))

51

In [ ]:
aList=["Pynative",[1,2,3]]
print(aList[1][2])

3

In [ ]:
l=[5]*10
print(l)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [ ]:
liste11=[]
for x in["Hello","Good"]:
  for y in ["Dear","Bye"]:
    liste11.append(x+y)
print(liste11)

['HelloDear', 'HelloBye', 'GoodDear', 'GoodBye']

In [ ]:
sampleList=[10,20,30]
sampleList.pop()
print(sampleList)

sampleList.pop(1)
print(sampleList)

del(sampleList[0])
print(sampleList)

[10, 20]
[10]
[]

In [ ]:
list1=['xyz','zara','pyhton']
print(max(list1))

zara

In [ ]:
metin="fknsdknf416541gdszgd5g451gsd24g5ds"
listeK=[]
listeS=[]
for i in metin:
  for k in range(0,9):
      if i==str(k):
        listeS.append(int(i))
  if i!=str(k):
      listeK.append(i)
print(listeS)
print(listeK)

listecopy=listeS.copy()
for a in listecopy:
  if a%2==0:
    listeS.remove(a)
print(listeS)

[4, 1, 6, 5, 4, 1, 5, 4, 5, 1, 2, 4, 5]
['f', 'k', 'n', 's', 'd', 'k', 'n', 'f', '4', '1', '6', '5', '4', '1', 'g', 'd', 's', 'z', 'g', 'd', '5', 'g', '4', '5', '1', 'g', 's', 'd', '2', '4', 'g', '5', 'd', 's']
[1, 5, 1, 5, 5, 1, 5]