# TUPLE

In [ ]:
liste1=[1,2,True,'ali'] #liste
tuple1=(1,2,True,'ali') #tuple
tuple2=() #boş tuple tanımlamak tavsiye edilmez

In [ ]:
mytuple=1.2,4,"hello"
print(mytuple)
type(mytuple)

(1.2, 4, 'hello')

tuple

Değerlere erişim, indexler

In [ ]:
print(mytuple[0]) #ilk değer
print(mytuple[-1]) #son değer
print(mytuple[1:])

1.2
hello
(4, 'hello')

Değer değişimi

In [ ]:
#tuple değerlerini listeye dönüştürerek değiştirilebilir
liste2=list(mytuple)
liste2[2]="Hi"
print(liste2)

[1.2, 4, 'Hi']

In [ ]:
tuple3=tuple(liste2)
print(tuple3)

(1.2, 4, 'Hi')

Tuple yapısında + ve * y=(1, 2, 3) + (4, 5, 6)

x=("Hello",) * 3 print(type(x)) print(x)

In [ ]:
y=(1,2,3)+(4,5,6)
print(y)

x=("Hello",)
print(type(x))
print(x*3)

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
('Hello', 'Hello', 'Hello')

In [ ]:
#Tuple indeks değerleri silinemez ama tuplenin tamamı silinebilir
del(x)

In [ ]:
liste3=["a","b",54]
if 54 in liste3:
  print("Var")

tuple4=("a","b",54)
if 54 in tuple4:
  print("Var")

Var
Var

In [ ]:
tuple5=("a","b",1.2,45,True)
print(len(tuple5))
print(tuple5.count("a"))
print(tuple5.index(True))

5
1
4

In [ ]:
tuple6=(1,5,6,9,2,3)
print(sorted(tuple6))

[1, 2, 3, 5, 6, 9]

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green) print(yellow) print(red)

In [ ]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green) #tek değere tek değer atama

fruits=("apple","banana","cherry")
(green,*yellow)=fruits
print(yellow) #tek değere birden çok değer atama

apple
['banana', 'cherry']

In [ ]:
aTuple=(100,200,(300,400),500) #iç içe tuple kullanımı
print(aTuple[2][1])

400

In [ ]:
for i in aTuple:
  print(i)

100
200
(300, 400)
500

Rastgele bir metinden dictionary oluşturup tek sayılara karşılık 1, çift sayılara karşılık 2 yazdıran program

In [2]:
metin="kjdgagğÖGRBLDAFSMALDSömskfmdlskfm"
metin1 =""
for i in metin:
  if i.islower():
    metin1 += i.upper()
  else:
    metin1 += i.lower()
dict9={(i+1):str(metin1[i]) for i in range(0, len(metin1))}
print(dict9)

{1: 'K', 2: 'J', 3: 'D', 4: 'G', 5: 'A', 6: 'G', 7: 'Ğ', 8: 'ö', 9: 'g', 10: 'r', 11: 'b', 12: 'l', 13: 'd', 14: 'a', 15: 'f', 16: 's', 17: 'm', 18: 'a', 19: 'l', 20: 'd', 21: 's', 22: 'Ö', 23: 'M', 24: 'S', 25: 'K', 26: 'F', 27: 'M', 28: 'D', 29: 'L', 30: 'S', 31: 'K', 32: 'F', 33: 'M'}

In [3]:
# Dictionary Comprehension
squares = {x:i for x in range(1,16) }
for i in squares:
  if i % 2 == 0: 
    squares.update({i: 2})
  else:
    squares.update({i: 1})

print(squares)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 1, 6: 2, 7: 1, 8: 2, 9: 1, 10: 2, 11: 1, 12: 2, 13: 1, 14: 2, 15: 1}

# SET

Tanımlama, değer atama

In [ ]:
a={5,3,4}
b={}
print(a)

a={5,3,4,5}
print(a)
print(len(a))

{3, 4, 5}
{3, 4, 5}
3

add(), update(), remove(), discard(), clear(), del()

In [ ]:
a.add("A")
print(a)

a.update("abc")
a.update(["abc"]) 
print(a)

{'A', 3, 4, 5}
{3, 4, 5, 'c', 'abc', 'A', 'a', 'b'}

In [ ]:
a.remove("abc")
print(a)

a.discard("a")
print(a)

{3, 4, 5, 'c', 'A', 'a', 'b'}
{3, 4, 5, 'c', 'A', 'b'}

In [ ]:
c={"b","r","y"}
c.clear()
print(c)

set()

copy(), id()

In [ ]:
b=a.copy()
b

{3, 4, 5, 'A', 'b', 'c'}

In [ ]:
b.clear()
print(b)
print(a)

set()
{3, 4, 5, 'c', 'A', 'b'}

sum, min, max, len

In [ ]:
a=(5,4,3,2)
print(sum(a))
print(min(a))
print(max(a))

14
2
5

In [ ]:
kume={("a",3,4),5,"c",("s","d","b")}

Birleşim (union) |, Kesişim (intersection) & , difference -, issubset, issuperset, isdisjoint()

In [ ]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.union(B)) #A birleşim B = A|B
print(A.intersection(B)) #A kesişim B = A&B
print(A.difference(B)) #A fark B = A-B
print(A.symmetric_difference(B)) # = A^B

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [ ]:
C={6,7,8}
print(C.issubset(B)) #C B'nin alt kümesi mi?

print(B.issuperset(C)) #B C'yi kapsar mı?
print(A.isdisjoint(C)) #ortak eleman var mı?

True
True
True

# DICTIONARY

Tanımlama
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 'not': [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [ ]:
dict1={'key1':'value1','key2':'value2'}
dictOgr={'OgrenciBilgileri': {'ad':'Elif','soyad':'Yılmaz','no':'123','Sınav':[45,78]}}

print(dict1['key1'])
print(dict1.get('key2'))

print(dictOgr['OgrenciBilgileri']['soyad'])

value1
value2
Yılmaz

Elemanlaraerişim

print(my_dict['name'])

print(my_dict.get('age'))

In [ ]:
print(len(dict1))
print(len(dictOgr['OgrenciBilgileri']))
print(dictOgr['OgrenciBilgileri']['Sınav'][1])

2
4
78

In [ ]:
dict2={'isim':'Samet'}
dict3=dict2
dict4=dict2.copy()

In [ ]:
print(id(dict2))
print(id(dict3))
print(id(dict4))

140270588797888
140270588797888
140270652982528

In [ ]:
dict3['isim']='Seda'
print(dict3)
print(dict2)
print(dict4)

{'isim': 'Seda'}
{'isim': 'Seda'}
{'isim': 'Samet'}

items, keys, len, pop, popitem, clear, del

In [ ]:
dict5={'ad':'Elif','soyad':'Yılmaz','no':'123','Vize':45,'Final':78}
for i in dict5: 
  print(i) #key
  print(i," ",dict5[i]) #key ve value

ad
ad   Elif
soyad
soyad   Yılmaz
no
no   123
Vize
Vize   45
Final
Final   78

In [ ]:
dict5.pop('Final')
print(dict5)

dict5.popitem()
print(dict5)

dict6={'ad':'leyla'}
dict7={'ad':'leyla'}

del(dict6)

dict7.clear()
print(dict7)

{'ad': 'Elif', 'soyad': 'Yılmaz', 'no': '123', 'Vize': 45}
{'ad': 'Elif', 'soyad': 'Yılmaz', 'no': '123'}
{}

dict4={1:'k', 2:'j', 3:'d',.......}

In [ ]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
squares[10]='değer0'

In [ ]:
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 10: 'değer0'}

In [ ]:
metin="kjdgagğÖGRBLDAFSMALDSömskfmdlskfm"
dict9={(i+1):str(metin[i]) for i in range(0, len(metin))}
print(dict9)

{1: 'k', 2: 'j', 3: 'd', 4: 'g', 5: 'a', 6: 'g', 7: 'ğ', 8: 'Ö', 9: 'G', 10: 'R', 11: 'B', 12: 'L', 13: 'D', 14: 'A', 15: 'F', 16: 'S', 17: 'M', 18: 'A', 19: 'L', 20: 'D', 21: 'S', 22: 'ö', 23: 'm', 24: 's', 25: 'k', 26: 'f', 27: 'm', 28: 'd', 29: 'l', 30: 's', 31: 'k', 32: 'f', 33: 'm'}

In [ ]:
# Dictionary Comprehension
squares = {x: 1 for x in range(16)}

print(squares)

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1}

In [ ]:
dict8={i:str(i) for i in range(1,11)}
print(dict8)

{1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9', 10: '10'}

In [ ]:
metin="jfskjKDWHNJASDSANDKNSKDNKLASdsfgfdsfghstrdhdsfds"
dict9={i:str(metin[i]) for i in range(0,len(metin))}
print(dict9)

{0: 'j', 1: 'f', 2: 's', 3: 'k', 4: 'j', 5: 'K', 6: 'D', 7: 'W', 8: 'H', 9: 'N', 10: 'J', 11: 'A', 12: 'S', 13: 'D', 14: 'S', 15: 'A', 16: 'N', 17: 'D', 18: 'K', 19: 'N', 20: 'S', 21: 'K', 22: 'D', 23: 'N', 24: 'K', 25: 'L', 26: 'A', 27: 'S', 28: 'd', 29: 's', 30: 'f', 31: 'g', 32: 'f', 33: 'd', 34: 's', 35: 'f', 36: 'g', 37: 'h', 38: 's', 39: 't', 40: 'r', 41: 'd', 42: 'h', 43: 'd', 44: 's', 45: 'f', 46: 'd', 47: 's'}

In [ ]:
dict10={i:str(metin[i]) for i in range(0,len(metin)) if metin[i].isupper==True metin[i].lower()}

In [ ]:
squares={}
for x in range(6):
  squares[x]=x*x
print(squares)

squares[10]='deger0'
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 10: 'deger0'}

In [ ]:
squares={x}